 <!DOCTYPE html>
<html>
<body>
<div>
<form action="/" method = "get">
<button type="button" class="btn btn-danger" style="justify-items: center; width:300px; heignt: auto; line-height:
    initial;">Back</button>
  </form> 
  </div>
</body>
</html> 